.customCheckbox {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
}

.customCheckbox_checked {
  @apply content-none before:block before:absolute before:top-[3px] before:left-[7px] before:w-[4px] before:h-[9px] before:border-shades-white before:border-t-0 before:border-r-[2px] before:border-b-[2px] before:border-l-0 before:rotate-45 bg-shades-black !border-shades-black;
}
