@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../fonts/font-styles.css");

:root {
  --font-family: "Untitled Sans";
  --var-background-color: "#D8D8D8";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--var-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

@media print and (max-width: 874px) {
  .order__page {
      zoom: 75%;
  }
}

@media print and (max-width: 560px) {
  .order__page {
      zoom: 50%;
  }
}

@media print and (max-width: 421px) {
  .order__page {
      zoom: 35%;
  }
}

.break-anywhere {
  overflow-wrap: anywhere;
}