.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 786px;
  padding: 1rem;
}

.heading {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-right: 1rem;
}
