.label {
	@apply bg-shades-white text-shades-black;
	padding: 0 4px;
	font-size: 12px;
	font-weight: 300;
	transform-origin: top left;
	position: absolute;
	transform: translate(16px, -8px);
}
input:focus-visible {
	outline: 1px dashed transparent;
}
textarea {
	resize: none;
}
